<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite01">

	<test name="Test01">
		<classes>
			<class name="com.softserve.edu.GoogleTest" />
			<!-- <class name="com.softserve.edu.AppTest" /> -->
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
